Source: wb-homa-ism-radio
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config

Package: wb-homa-ism-radio
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, mosquitto, python-wb-io (>= 1.2), wb-utils (>= 2.1.2)
Conflicts: wb-homa-rfsniffer
Description: MQTT driver for WB HomA for RFM69 ISM radio
